/*Crea un elemento con un alto que se ajuste al alto de su contenedor.
*/
    body {
        margin: 0;
        padding: 0;
    }
    
    .contenedor {
        height: 300px; 
        background-color: #ecf0f1; 
    }
    
    .elemento {
        width: 100px; 
        height: 100%; 
        background-color: #3498db; 
        color: #fff;
  
    }
