/*Crea un elemento con un alto que herede el tamaño de su elemento
 padre, pero no sea inferior a 100px.*/
body {
    font-size: 14px;
}

.contenedor {
    font-size: inherit;
    min-height: 100px;
    background-color: #a51212;
}

.mi-elemento {
    height: 100Vh;
    width: 100px;
    background-color: #e998af;
}