/*Crea un elemento con un ancho que se ajuste al ancho de su contenedor,
 pero no se extienda más allá de los límites de la ventana del navegador.
*/

.contenedor {
    max-width: 100%;
    margin: 0 auto; 
    background-color: #ecf0f1;
}

.ancho {
    width: 100%; 
    height: 200px; 
    background-color: #3498db;
    color: #fff; 
    padding: 10px;
    box-sizing: border-box; 
}